body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px; 
    font-size: 36px;
    margin-left: 50px;
  }
  
  .image1{
    border-radius: 70%  45%;
  }
  .active{
    color: #fff;
  }

  .image2{
    height: 500px;
  }
  .pro1{
    margin-top: 20px;
  }

 .post{
  position: fixed;
  z-index: 1;
  background-color: #fff ;
 }

 .icon a i{
  margin-top: 15px;
  margin-left:20px;
  background-color: blue;
  color: white;
  border-radius: 50px;
 }